<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=`, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/About.css">
   <link rel="stylesheet" href="/static/css/header.css">
   <title>About The Project</title>
</head>
<body>
   <section class="hero">
      <div class="top-bar">
         <h3>For all the reliable covid resources
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="__blank"> click here</a>
         </h3>
      </div>
      <header>
         <ul class="nav-bar">
            <a href="index.html" class="home">Home</a>
            <a href="heart.html" class="heart">Heart</a>
            <a href="diabetes.html" class="diabetes">Diabetes</a>
            <a href="parkinson.html" class="parkinson">Parkinson</a>
            <a href="about.html" class="about current">About</a>
            <a href="documentaion.html" class="contact">Documentation</a>
         </ul>
      </header>
   </section>
   <main class="main-content">
      <p>This is a Disease Prediction System with the ability to predict Heart Disease, Diabetes and Parkinson with an accuracy of 90%, 77% and 87 respectively. It is developed by a group of Students from University of Engineering & Management, Kolkata under the guidance of Mr. Kaustav Bhattacharjee (HoD, Computer Application Department). <br>
      The Project uses various Machine Learning Models to take the inputs from the user and predicts and outome accordingly. <br>
      This projects aims to be strictly used for reference purposes only.</p>
      <h2>Team Members</h2>
      <div class="team-members">
         <div class="card card1">
            <div class="img-wrapper">
               <img src="/static/images/manoranjan.jpg" alt="manoranjan">
            </div>
            <div class="role">
               <h3>Manoranjan Panigrahi</h3>
               <p>Front-End</p>
            </div>
         </div>
         <div class="card card2">
            <div class="img-wrapper">
               <img src="/static/images/sayan.jpg" alt="sayan">
            </div>
            <div class="role">
               <h3>Sayan Sen</h3>
               <p>Backend</p>
            </div>
         </div>
         <div class="card card3">
            <div class="img-wrapper">
               <img src="/static/images/roshni.jpg" alt="roshni">
            </div>
            <div class="role">
               <h3>Roshni Dey</h3>
               <p>Data Collection & Research</p>
            </div>
         </div>
         <div class="card card4">
            <div class="img-wrapper">
               <img src="/static/images/Swarnali.jpg" alt="Swarnali">
            </div>
            <div class="role">
               <h3>Swarnali Ghosh</h3>
               <p>Data Collection & Research</p>
            </div>
         </div>
         <div class="card card5">
            <div class="img-wrapper">
               <img src="/static/images/debapriya.jpg" alt="debapriya">
            </div>
            <div class="role">
               <h3>Debapriya Mukherjee</h3>
               <p>Data Collection & Research</p>
            </div>
         </div>
      </div>
      <h2>Project Timeline</h2>
      <div class="container">
         <div class="timeline">
            <ul>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">25th July, 2021</h3>
                     <h2>Deciding Project Topic</h2>
                     <p>Started brainstoming with the team about how to implement the project, what all should be included, who will be the end-user etc.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">5th August, 2021</h3>
                     <h2>Initial Task Distribution</h2>
                     <p>Divided tasks to each team member to make each person less burdened and increase effeciency.Started Researching on the topic and looked at research papers and already made projects on the same topic.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">15th August, 2021</h3>
                     <h2>Decided the Technologies</h2>
                     <p>Decided to go ahead with Python for the backend, Flask to take it to the Web and HTML,CSS & JavaScript for Website</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">30th August, 2021</h3>
                     <h2>Reasearched on various Diseases</h2>
                     <p>Started looking for various diseasas that we can make predictions on. We had planned to implement multiple Machine Learning Models depending on the disease requirements for prediction.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">5th September, 2021</h3>
                     <h2>Started looking for Datasets</h2>
                     <p>After intensive research and information gathering, decided to go with Heart, Diabetes and Parkinson because higher number of people are getting affected by these. We also started looking for reliable Datasets for these diseases</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">13th September, 2021</h3>
                     <h2>Dataset Analysis</h2>
                     <p>After analyzing lots of Dataset and finalize 1 Dataset for each disease we moved to developing the Prediction model and also analyze each parameter for each disease.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">25th September, 2021</h3>
                     <h2>Developing and Testing ML Model</h2>
                     <p>Afters weeks for testing the Prediciton Models and fine tuning for better accuracy we had the backbone of the project ready.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">1st November, 2021</h3>
                     <h2>Developing Website</h2>
                     <p>Now we moved forward to the Web Development part. Also gave responsibility to few members to start looking at the Project Documentation part</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">15th November, 2021</h3>
                     <h2>Form Implementation on Website</h2>
                     <p>Basic website structure with all the forms for disease were implemented and again testing for each disease on the website was done to be sure of the accuracy of the prediction.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">1st December, 2021</h3>
                     <h2>Project Co-ordinator Suggestions</h2>
                     <p>Showed the working to our Project Co-ordinator and noted down all the suggestions and feedaback he gave and started working on it.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">10th December, 2021</h3>
                     <h2>Implemented Suggestions</h2>
                     <p>Implemented all the suggestions and feedaback and now planned to deploy the Project on Heroku.</p>
                  </div>
               </li>
               <li>
                  <div class="timeline-content">
                     <h3 class="date">15th December, 2021</h3>
                     <h2>Deployed the Website</h2>
                     <p>Successfully deployed the website on Heroku after a lot of final testing.</p>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </main>
</body>
</html>