<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/documentaion.css">
   <link rel="stylesheet" href="/static/css/header.css">
   <title>Documentation</title>
</head>
<body>
   <section class="hero">
      <div class="top-bar">
         <h3>For all the reliable covid resources
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="__blank"> click here</a>
         </h3>
      </div>
      <header>
         <ul class="nav-bar">
            <a href="index.html" class="home">Home</a>
            <a href="heart.html" class="heart">Heart</a>
            <a href="diabetes.html" class="diabetes">Diabetes</a>
            <a href="parkinson.html" class="parkinson">Parkinson</a>
            <a href="about.html" class="about">About</a>
            <a href="documentaion.html" class="contact current">Documentation</a>
         </ul>
      </header>
   </section>
   <main class="main-content">
      <div class="problem-statement">
         <h2>Problem Statement</h2>
         <p>The health care industries collect huge amounts of data that contain some hidden information, which is useful for
            making effective decisions. For providing appropriate results and making effective decisions on Data, some
            advanced data mining techniques are used. <br>
            In this study, an End-to-End Web-Based General Disease Prediction System (GDPS) is developed using various
            algorithms for predicting if the patient has a Disease or not. The System gives option to select the disease that
            they want to examine for (Heart, Diabetes, and Parkinson’s disease). The system uses multiple medical parameters
            such as age, sex, blood pressure, cholesterol, and other relevant parameters to predict the disease. The GDPS
            predicts the likelihood of patients having the disease they choose to enter the data for. It enables significant
            knowledge. <br>
            Keywords: Python, Machine Learning, Logistic Regression, Support Vector Machine
         </p>
      </div>
      <div class="technologies">
         <h2>Technologies Used</h2>
         <ul>
            <li>HTML, CSS, JavaScript -<span> Front-End</span></li>
            <li>Flask -<span> Web Implementation</span></li>
            <li>Python -<span> Core Backend</span> </li>
            <li>Heroku -<span> Deployment</span></li>
            <li>Git -<span> Version Control</span></li>
         </ul>
      </div>
      <h2 class="projDoc">Projects Documentation</h2>
      <div class="documentation">
         <!-- <embed class="pdf" src="/static/Documentation.pdf" type="application/pdf"> -->
      </div>
   </main>
</body>
</html>