<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/Index.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <script src="https://kit.fontawesome.com/5626601018.js" crossorigin="anonymous"></script>
    <title>Disease Prediction System</title>
  </head>
  <body >
    <section class="hero" onload="slider()">
      <div class="slider">
        <img src="/static/images/banner.png" alt=""  class="banner"/>
        <!-- <img src="/static/images/background.jpg" alt="" id="sliderImg" /> -->
      </div>
      <div class="top-bar">
        <h3>
          For all the reliable covid related information
          <a
            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
            target="__blank"
          >
            click here</a
          >
        </h3>
      </div>
      <header id="header">
        <button class="menu" id="menu">
            <i class="fa-solid fa-bars"></i>
         </button>
        <ul class="nav-bar" id="nav-bar">
          <a href="index.html" class="home current">Home</a>
          <a href="heart.html" class="heart">Heart</a>
          <a href="diabetes.html" class="diabetes">Diabetes</a>
          <a href="parkinson.html" class="parkinson">Parkinson</a>
          <a href="about.html" class="about">About</a>
          <a href="documentaion.html" class="contact">Documentation</a>
        </ul>
      </header>
      <div class="welcome">
        <h1>Welcome to our Disease Prediction System</h1>
        <h2 class="mobile-heading">Welcome to our Disease Prediction System</h2>
      </div>
    </section>
    <div class="mobile-text" >
      <button id="started">
        Tap here to get started
      </button>
    </div>
    <script src="/static/animScript.js" defer></script>
    <script src="/static/menu.js" defer></script>
  </body>
</html>
